# 02-1 숫자형

In [ ]:
# 정수형
a = 123
a = -178
a = 0

In [11]:
#실수형
a = 1.2
a = -3.45
a = 4.24E10
a = 4.24e-10

In [16]:
#복소수
a = 1+2j
b = 3-4j
a.real #복소수의 실수 부분을 리턴
a.imag #복소수의 허수 부분을 리턴

2.0

In [23]:
#사칙연산
a = 3
b = 4
a + b, a-b, a * b, a/b

(7, -1, 12, 0.75)

In [24]:
#x의 y제곱
a = 3
b = 4
a**b

81

In [26]:
#나눗셈 후 나머지 반환
7 % 3, 3 % 7

(1, 3)

In [28]:
#나눗셈 후 소수점 아래자리 버림
7 // 4, 8 // 3

(1, 2)

# 02-2 문자열 자료형

In [29]:
#문자열을 만드는 방법 4가지
"Hello World", 'Python is fun', """Life is too short, You need python""", '''Life is too short, you need python'''

('Hello World',
 'Python is fun',
 'Life is too short, You need python',
 'Life is too short, you need python')

In [30]:
#문자열에 작은따옴표 포함시키기
"Python's favorite food is perl", '"Python is very easy." he says.'

("Python's favorite food is perl", '"Python is very easy." he says.')

In [34]:
#백슬래시를 이용하여 따옴표를 문자열에 포함시키기
'Python\'s favorite food is perl', "\"Python is very easy.\" he says."

("Python's favorite food is perl", '"Python is very easy." he says.')

In [40]:
#여러 줄인 문자열을 변수에 대입
multiline = """
Life is too short
You need python
"""
print(multiline)

Life is too short
You need python

In [43]:
#문자열 더하기
head ="Python"
tail = " is fun!"
head + tail

'Python is fun!'

In [44]:
#문자열 곱하기
a = "python"
a * 2

'pythonpython'

In [47]:
print("=" * 50)
print("My Program")
print("=" * 50)

==================================================
My Program
==================================================

In [55]:
#문자열 인덱싱 (가리킨다)
a = "Life is too short, You need Python"
a[0], a[3], a[4], a[-1]

('L', 'e', ' ', 'n')

In [70]:
#문자열 슬라이싱 (잘라낸다)
a = "Life is too short, You need Python"
a[0] + a[1] + a[2] + a[3], a[0:3], a[0:4], a[0:5], a[19:], a[:17], a[:], a[19:-7]

('Life',
 'Lif',
 'Life',
 'Life ',
 'You need Python',
 'Life is too short',
 'Life is too short, You need Python',
 'You need')

In [71]:
#슬라이싱으로 문자열 나누기
a = "20010331Rainy"
year = a[:4]
month = a[4:6]
day = a[6:8]
weather = a[8:]
year, month, day, weather

('2001', '03', '31', 'Rainy')

In [74]:
#슬라이싱을 활용하여 문자열 변경
a = "Pithon"
a[:1] + "y" + a[2:]

'Python'

In [85]:
#문자열 포매팅 (숫자는 %d, 문자는 %s)
print("I eat %d apples." % 3)
print("I eat %s apples." % "five")
number = 3
print("I eat %d apples." % number)
day = "three"
print("I ate %s apples. So I was sick for %s days." %(number, day))

I eat 3 apples.
I eat five apples.
I eat 3 apples.
I ate 3 apples. So I was sick for three days.

In [88]:
#포매팅 연산자 %d와 %를 같이 사용 시 %% 사용
"Error is %d%%." % 98

'Error is 98%.'

In [91]:
#포맷 코드와 숫자를 함께 사용하여 정렬과 공백 적용
print("%10s" % "hi") # %10s는 길이가 10인 문자열 공간에서 문자를 오른쪽 정렬하여 생성
print("%-10s" % "hi") # %-10s는 길이가 10인 문자열 공간에서 문자를 왼쪽 정렬하여 생성

        hi
hi

In [94]:
# 포맷 코드로 소수점 표현하기
print("%0.4f" % 3.141592) # 소수점 4자리까지 표현 (반올림)
print("%10.4f" % 3.141592) # 10자리 문자열에 소수점 4자리까지 표현 (반올림) 및 오른쪽 정렬
print("%-10.4f" % 3.141592) # 10자리 문자열에 소수점 4자리까지 표현 (반올림) 및 왼쪽 정렬

3.1416
    3.1416
3.1416

In [100]:
#문자열에서 문자 개수 세기
a = "hobby"
a.count("b")

2

In [62]:
#문자열에서 문자 위치 찾기
a = "Python is best choice"
print(a.find("h")) # 해당 문자가 처음으로 나온 위치 출력, 없으면 -1 출력
print(a.find("k"))

print(a.index("h")) # 해당 문자가 처음으로 나온 위치 출력, 없으면 오류 발생|

3
-1
3

In [111]:
#문자열 삽입
a = ","
a.join("abcd") # abcd라는 문자열 사이에 ,를 삽입

'a,b,c,d'

In [112]:
#대소문자 바꾸기
a = "hi"
print(a.upper())
b = "HI"
print(a.lower())

HI
hi

In [120]:
#문자열 공백 지우기
a = " hi "
a.lstrip() #왼쪽 공백 지우기
a.rstrip() #오른쪽 공백 지우기
a.strip() #양쪽 공백 지우기

'hi'

In [121]:
#문자열 바꾸기 (바뀔 문자열, 바꿀 문자열)
a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

In [122]:
#문자열 나누기
a = "Life is too short"
print(a.split()) #공백을 기준으로 문자열 나누기
a = "a:b:c:d"
a.split(":") #:을 기준으로 문자열 나누기

['Life', 'is', 'too', 'short']

['a', 'b', 'c', 'd']

In [129]:
#고급 문자열 포매팅
print("I eat {0} apples".format(3))
print("I eat {0} apples".format("five"))
number = 3
print("I eat {0} apples".format(number))
print("I ate {0} apples. So I was so sick for {1} days.".format(3, "five"))
print("I ate {number} apples. So I was so sick for {day} days.".format(number = 3, day = "five"))

I eat 3 apples
I eat five apples
I eat 3 apples
I ate 3 apples. So I was so sick for five days.
I ate 3 apples. So I was so sick for five days.

# 02-3 리스트 자료형

In [136]:
#다양한 리스트의 생김새
a = []
b = [1, 2, 3]
c = ["Life", "is ", "too", "short"]
d = [1, 2, "Life", "is"]
e = [1, 2, ["Life", "is"]]
a, b, c, d, e

([],
 [1, 2, 3],
 ['Life', 'is ', 'too', 'short'],
 [1, 2, 'Life', 'is'],
 [1, 2, ['Life', 'is']])

In [144]:
#리스트의 인덱싱
a = [1, 2, 3, ['a', 'b', 'c']]
print(a[0])
print(a[-1])
print(a[3])

1
['a', 'b', 'c']
['a', 'b', 'c']

In [149]:
#리스트에 포함된 리스트의 인덱싱 (앞 대괄호에 리스트, 뒷 대괄호에 리스트 속 리스트)
a = [1, 2, 3, ['a', 'b', 'c']]
a[-1][0], a[3][2]

('a', 'c')

In [152]:
#리스트의 슬라이싱
a = [1, 2, 3, 4, 5]
print(a[0:2])

b = a[2:4]
print(b)

[1, 2]
[3, 4]

In [63]:
#리스트 연산자
a = [1, 2, 3]
b = [4, 5, 6]
print(a + b)
print(a * 3)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [158]:
#리스트에서 하나의 값 수정하기
a = [1, 2, 3]
a[2] = 4
a

[1, 2, 4]

In [159]:
#리스트에서 연속된 범위의 값 수정하기
a = [1, 2, 3]
print(a[1:2])
a[1:2]

[2]

[2]

In [170]:
#리스트 요소 삭제하기
a = [1, 2, 3]
a[1:3] = [] #[]를 사용하여 삭제하기
print(a)

b = [1, 'c', 4]
del b[1] #del 함수를 사용하여 삭제하기
print(b)

[1]
[1, 4]

In [177]:
#리스트 끝에 요소 추가
a = [1, 2, 3]
a.append(4)
print(a)

b = [1, 2, 3, 4]
b.append([5,6])
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4, [5, 6]]

In [195]:
#리스트 정렬
a = [1, 4, 3, 2]
a.sort()
print(a)

[1, 2, 3, 4]

In [196]:
#리스트 역정렬
a = [1, 4, 3, 2]
a.sort(reverse = True)
print(a)

[4, 3, 2, 1]

In [197]:
#리스트 뒤집기
a = ['a', 'c', 'b']
a.reverse()
print(a)

['b', 'c', 'a']

In [198]:
#리스트 위치 반환
a = [1, 2, 3]
a.index(3) #3의 위치

2

In [200]:
#리스트에 요소 삽입 (insert(a,b) - a번째 위치에 b를 삽입)
a = [1, 2, 3]
a.insert(0, 4)
print(a)

[4, 1, 2, 3]

In [201]:
#리스트 요소 제거
a = [1, 2, 3, 1, 2, 3]
a.remove(3) #첫 번째로 나오는 3 제거
print(a)

[1, 2, 1, 2, 3]

In [207]:
#리스트 요소 끄집어내기
a = [1, 2, 3]
print(a.pop()) #마지막 요소 끄집어내기
print(a) #마지막 요소 끄집어낸 후 리스트 a

b= [1, 2, 3]
print(b.pop(1)) #위치 1의 요소 끄집어내기
print(b) #위치 1의 요소 끄집어낸 후 리스트 b

3
[1, 2]
2
[1, 3]

In [208]:
#리스트에 포함된 요소 x의 개수 세기
a = [1, 2, 3, 1]
a.count(1)

2

In [210]:
#리스트 확장
a = [1, 2, 3]
a.extend([4,5])
print(a)

b = [6, 7]
a.extend(b)
print(a)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7]

# 02-4 튜플 자료형

In [211]:
#튜플과 리스트의 차이점

#1. 리스트는 [], 튜플은 ()
#2. 리스트는 값의 생성, 삭제, 수정이 가능하지만, 튜플은 불가능

In [212]:
#튜플의 생김새
t1 = ()
t2 = (1,) #요소가 1개일 때는 요소 뒤에 콤마(,)를 붙여야 함
t3 = (1, 2, 3)
t4 = 1, 2, 3 #()를 안써도 가능
t5 = ('a', 'b',('ab', 'cd'))
t1, t2, t3, t4, t5

((), (1,), (1, 2, 3), (1, 2, 3), ('a', 'b', ('ab', 'cd')))

In [213]:
#튜플의 인덱싱
t1 = (1, 2, 'a', 'b')
t1[0]

1

In [214]:
#튜플의 슬라이싱
t1 = (1, 2, 'a', 'b')
t1[1:]

(2, 'a', 'b')

In [220]:
#튜플의 더하기
t1 = (1, 2, 'a', 'b')
t2 = (1, 2)
t1 + t2

(1, 2, 'a', 'b', 1, 2)

In [221]:
#튜플의 곱하기
t1 = (1, 2, 'a', 'b')
t1 * 2

(1, 2, 'a', 'b', 1, 2, 'a', 'b')

# 02-5 딕셔너리 자료형

In [13]:
#딕셔너리의 생김새
dic = {'name':'pey', 'phone':'0119993323', 'birth':'1118'}

In [23]:
#딕셔너리에 쌍 추가하기
a = {1:'a'}
a[2] = 'b' # a라는 key의 b라는 value {2:'b'}쌍 추가
print(a)

a['name'] = "pey"
print(a)

a[3] = [1, 2, 3]
print(a)

{1: 'a', 2: 'b'}
{1: 'a', 2: 'b', 'name': 'pey'}
{1: 'a', 2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [15]:
#딕셔너리에 요소 삭제하기
del a['name'] #key와 value 쌍이 함께 삭제
print(a)

{1: 'a', 2: 'b', 3: [1, 2, 3]}

In [19]:
#딕셔너리에서 key를 사용해서 value 얻기
grade = {'pey':10, 'julliet':99}
print(grade['pey'])
print(grade['julliet'])

10
99

In [28]:
#key 리스트 만들기
a = {'name':'pey', 'phone':'0119993323', 'birth':'1118'}
print(a.keys())

for k in a.keys():
    print(k)

dict_keys(['name', 'phone', 'birth'])
name
phone
birth

In [29]:
#value 리스트 만들기
a = {'name':'pey', 'phone':'0119993323', 'birth':'1118'}
print(a.values())

dict_values(['pey', '0119993323', '1118'])

In [30]:
#key, value 쌍 얻기
a = {'name':'pey', 'phone':'0119993323', 'birth':'1118'}
a.items()

dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')])

In [32]:
#key, value 쌍 모두 지우기
a = {'name':'pey', 'phone':'0119993323', 'birth':'1118'}
a.clear()
a

{}

In [36]:
#key로 value 얻기
a = {'name':'pey', 'phone':'0119993323', 'birth':'1118'}
print(a.get('name'))

pey
pey

In [37]:
#key가 딕셔너리 안에 있는지 조사하기
a = {'name':'pey', 'phone':'0119993323', 'birth':'1118'}
'name' in a

True

# 02-8 변수

In [41]:
#02-06, 02-07은 생략

In [54]:
#변수를 만드는 여러 가지 방법
a = "python"
print(a)

a, b = "python", "life"
print(a)
print(b)

k = [a, b] = ['python', 'life']
print(k[0])
print(k[1])

python
python
life
python
life

In [58]:
#두 변수의 값 바꾸기
a = 3
b = 5
a, b = b, a
print(a)
print(b)

5
3

In [61]:
#변수 복사하는 방법
a = [1, 2, 3]
b = a # a의 값을 변경하면 b도 함께 변경
a [1] = 4
print(a)
print(b)

a = [1, 2, 3]
b = a[:] #a 리스트 전체를 복사하여 b에 대입 / 이 경우 a와 b는 독립적으로 작용
a[1] = 4
print(a)
print(b)

[1, 4, 3]
[1, 4, 3]
[1, 4, 3]
[1, 2, 3]